* {
  box-sizing: border-box;
}

.container {
  max-width: 500px;
  margin: auto;
  padding: 1rem 0;
}

#joke-form input {
  display: block;
  margin: 0.5rem 0;
}

.joke-output {
  margin: 1rem 0;
}
.joke-output li {
  padding: 0.3rem 0;
}
